/** This is the rudimentary style collection for the 
    BBTI revival project. **/

:root{
    --dropshadow-1: 3pt 2pt 1pt 0px rgba(155,155,155,1);
    --dropshadow-2: 0pt 2pt rgba(155,155,155,1);
}

/* Main site layout: Use flex for this. */
body{
    display: flex;
    flex-direction: column;
    /*margin-left: clamp(0.5em, 20vw, 40vw);*/
    /*margin-right: clamp(0.5em, 20vw, 40vw);*/
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #337ab7;
    color: white;
    box-shadow: var(--dropshadow-2);
}

div.site-banner{
    text-align: center;
    padding: 0.55rem;
    margin: 0;

    h1 {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 400;
        margin: 0 3rem 0 3rem;
        padding: 0;
    }
}

nav>ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em;
    margin-top: 0.25rem;
    margin-bottom: 0;
    padding: 0;
    li{
        list-style-type: none;
        display: inline-block;
        text-align: center;
        &.currentPage, &:hover{
            background-color: #006699;
        }
        a{
            display: inline-block;
            text-decoration: none;
            color: white;
            padding: 0.5rem;
        }
    }
}

input#chk-mobile-menu{
    display: none;
}

label#lbl-mobile-menu{
    display: none;
}

/* Responsive menu. */
@media only screen and (max-width: 768px) {
    header{
        display: grid; 
        grid-template-columns: 5fr auto; 
        gap: 0px 0px; 
        grid-template-areas: 
          "title hamburger"
          "menu menu"; 
    }
    div.site-banner{
        grid-area: title;
        align-self: center;
        h1{
            text-align: left;
            margin: 0;
            font-size: 5vw;
        }
    }
    label#lbl-mobile-menu{
        font-family: "Times New Roman";
        display: block;
        margin: 0.2rem 0.4rem;
        text-align: right;
        font-size: 2rem;
        cursor: pointer;
        grid-area: hamburger;
        border: solid 1pt #333;
        border-radius: 0.1em; 
        width: min-content;
        line-height: 0.7;
        padding: 0.1em 0.1em 0.1em 0.1em;
        &:hover{
            background-color: #006699;
        }
    }
    nav{
        grid-area: menu;
        display: none;
    }
    nav>ul{
        display: flex;
        flex-direction: column;
        gap: 0;
        li{
            border-width: 1pt 0 0 0;
            border-color: white;
            border-style: solid;
            padding: 0.5rem;
            a{
                width: 96vw;
                padding: 0;
            }
        }
    }
    input#chk-mobile-menu:checked ~ header > nav{
        display: block;
    }
}

main{
    max-width: 70rem;
    margin: 1em;
    flex: 1;
}

h3, h4{
    margin-bottom: 0;
}

h4 + p, h4 + ul, h3 + p, h3 + ul{
    margin-top: 0;
}

span.bbtiId{
    font-weight: bold;
    color: grey;
    display: inline-block;
    margin-left: 1em;
}
table td span.bbtiId{
    display: none;
}

span.mjTitle{
    font-style: italic;
}

/* By default, tables should have borders and alternate colours. */
table{
    border: solid 1pt grey;
    margin: 1rem;
    background-color: white;
    border-collapse: collapse;
    th, td{
        padding: 0.5rem;
        border: solid 1pt grey;
    }
    tr:nth-child(even){
        background-color: lightgrey;
    }

/* Tables should be displayed as lists at a certain 
   form factor and below. */
    @media only screen and (max-width: 768px) {

        border: none;
        thead tr{
        /*display: flex;
        list-style-type: none;
        border: none;*/
        display: none;
        }
        tbody tr {
            display:list-item;
            list-style-type: none;
            border-width: 1pt 0 0 0;
            border-style: solid;
        }
        td {
            display:list-item;
            border:none !important;
            list-style-type: none;
            padding: 0.2em;
            &:last-of-type{
                padding-bottom: 1em;
            } 
        }
        thead td{
            text-align: left;
        }
            tbody td[title]::before {
            content: attr(title) ": ";
            font-weight: bold;
        }
    }
}

div.org{
    margin: 1rem;
    max-width: 30rem;
    border: solid 1pt grey;
    padding: 1rem;
    box-shadow: var(--dropshadow-1);
    ul{
        padding-left: 1em;
    }
}

span.extraInfo{
    /* Hide for now. */
    /* display: inline-block; */
    display: none;
    margin: auto 0.5em;
    font-size: 0.8rem;
    color: grey;
}

code{
    font-size: 1.25rem;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    margin: 0.5rem 0 0 0;
    background-color: #dddddd;
    border-top: 2px solid #bbbbbb;
    padding: 0.5rem;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.8rem;
    *{
        max-width: min(40rem, 96vw);
    }
    div#buildInfo{
        color: #909090;
        font-size: 0.7rem;
    }
    a[href], a[href]:visited{
        color: black;
    }
}

/* Subcollection stuff. */
div#recordCollection{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

fieldset.collectionBuilder{
    margin-top: 1rem;
    font-size: 1.3rem;
    max-width: 90vw;
    & > legend{
        background-color: #337ab7;
        color: white;
        padding: 0.25em;
    }
    & > div {
        max-width: 90vw;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    & > div div {
        display: grid;
        grid-template-columns: 10em auto;
        gap: 0.5rem;

        @media only screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: auto;
        }
    }
    input, textarea{
        font-size: 1.3rem;
    }
}


/* staticSearch page stuff. */
div#staticSearch{
    max-width: 90vw;
}

span.ssQueryAndButton{
    flex-wrap: wrap;
}

ul.ssDescCheckboxList, ul.ssSearchInCheckboxList{
    margin-top: 0;
    margin-bottom: 0;
    min-width: 10rem;
}

input#ssQuery, button#ssClear, button#ssDoSearch, button#ssDoSearch2{
    font-size: 1.3rem;
}

div.ssDateFilters fieldset{
    justify-content: center;
}